{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
        <title>Log out</title>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container ">
        <div class="row" align = center>
            <div class="col-sm-12">

                <p class="text-center fw-bolder fs-2" style="color: cornflowerblue ;text-shadow: deepskyblue">Logged
                    out!</p><br><br><br>
                <br>
                <br>
                <br>
                <a class=" text-center fw-bolder text-decoration-none "
                   style="color: cornflowerblue" href="{% url 'accounts:login' %}">Click here
                    to login again.</a>
                <br>
                <br>


            </div>
        </div>
    </div>

{% endblock content %}
