{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}


{% block content %}
        <title>Reset Password</title>

    <br>
    <br>
    <br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">

  <form action="" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
      <br>
    <input type="submit" class="form-control text-decoration-none fw-bolder fs-5" style="color: cornflowerblue" value="Reset password">
  </form>
   </div>
  </div>
</div>
{% endblock content %}