{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}

    <div class="container col-md-12">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <br>
                <br>

                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <br>
                    <input type="submit" class="form-control text-decoration-none fw-bolder fs-5" style="color: cornflowerblue"  value="Change password">
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
        <br>
        <br>
    </div>
{% endblock content %}