<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="Dashboard:Home">Smart Shopper</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a href="{% url 'ShoppingCart:mainUseCase' %}" class="btn btn-success zoom_out"> Get Best
                        Choices</a>
                </li>
                <li class="nav-item">
                    &bull;
                </li>
                <li class="nav-item">
                    <a class="nav-link zoom_out " href="{% url 'Dashboard:Home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link zoom_out" href="{% url 'accounts:CustomerProfileView' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link zoom_out"
                       href="{% url 'ShoppingCart:view_shopping_cart' %}">MyCart {{ request.user.storeadminprofile.store }}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link zoom_out " href="{% url 'Dashboard:Maptest' %}">Map Test</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link zoom_out " href="{% url 'ManageOffer:view_all_offers' %}">Offers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link zoom_out" href="{% url 'accounts:logout' %}">logout</a>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'Dashboard:search' %}" method="GET" value="{{ request.GET.q }}">
                <input class="form-control me-2 zoom_out" type="search" placeholder="Search" aria-label="Search"
                       name="q"
                       value="{{ request.GET.q }}">
                <button class="btn btn-outline-success zoom_out" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>